* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: JetBrains Mono,
        ui-monospace,
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        Liberation Mono,
        Courier New,
        monospace;
}



body{
    width: 100%;
    min-height: 100vh;
    background: #333333;
    color: #CCCCCC;
    /* padding: 0 5rem; */
    padding:0 1rem;
    max-width: 1170px;
    margin: 0 auto;
}


.nav-bar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background: rgb(73, 73, 73);
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 2rem;

    box-shadow: 3px 3px 5px 0px rgb(31, 31, 31, .7);


}
.menu-nav{
    font-size: 2rem;
    position: fixed;
     right: 2rem;
    top: 14px;
    z-index: 1;
    cursor: pointer;
}
.logo-desctop{
    display: none;
}

.exit{
    color: red;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
.nav-inner{
    
    display:flex;
    flex-direction: column;
    position: absolute;
    background: rgb(73, 73, 73);
    
    top: 0;
    left: 0;
    height: 60vh;
    width: 100%;
    max-width: 250px;
    row-gap: 2rem;
    padding: 2rem;
    z-index: 5;
    display: none;
}

.lists{
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    list-style-type: none;
    text-transform: capitalize;
    letter-spacing: .1rem;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 3rem;
    
}

.list{
    cursor: pointer;
    font-weight: 400;
}

.list:hover{
    color: white;
}

.logo{
    font-family: cursive;
    position: fixed;
    left: 2rem;
    top: 14px;
    z-index: 1;
}
.call-to-action-main{
    border: none;
    padding: .5rem 1.75rem;
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: .15rem;
    border-radius: 4px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    color: #000000;
    background: rgb(192, 192, 192);
    transition: all .5s ease;
}
.call-to-action{
    border: none;
    padding: .5rem 1.75rem;
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: .15rem;
    border-radius: 4px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    color:#000000;
    background: rgb(192, 192, 192);
    transition: all .5s ease;
    margin: 0 auto;
}

.call-to-action:hover{
    background: white;
    color: #000000;
}
.call-to-action-main:hover{
    background: white;
    color: #000000;
}

header{
    padding: 3rem 0 0 0;
    display: flex;
    min-height: calc(80vh - 60px);
    align-items: center;
    justify-content: center;
    padding: 5rem 0 3rem 0;
}

.hero{
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 0 2rem;
    height: 100%;
}


.title{
/* width: calc(50% - 1rem); */
width: 100%;
padding: 0 1rem 0 0;
font-size: clamp(2rem,5vw,3rem);
text-wrap:balance;
font-weight: 400;
display: flex;
flex-direction: column;
gap: 5rem 0;
position: relative;
text-align: center;
animation: title 3s ease 0.2s 1;
line-height: 1.2;
}



.name{
    position: relative;
    color:teal;
    animation: name 1.5s linear 0.2s 1;
}
@keyframes name {
    0% {
        left: -200px;
        opacity: 0;

    }

    50% {
        left: -100px;
        opacity: 0;
    }

    100% {
        left: 0px;
        opacity: 1;
    }
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-img{
    width: calc(40% - 1rem);
    padding: 1rem;
    display: none;
}
.img-container{
    width: 100%;
    height: auto;
    padding-top: 100%;
    position: relative;
    animation: picture 3s ease 0.2s 1;
}



.inner{
position: absolute;
top: 0;
left: 0;
}


.advaice{
    /* width: 100%;
    height: 60vh;  
    max-height: 500px;

    margin-bottom:5rem ; */
    /* display: flex;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem; */
    background: rgb(73, 73, 73);
    border-radius: 10px;
        box-shadow: 2px 2px 4px 0px rgb(43, 43, 43);
}

.image-container{
    /* position: absolute;
    width: 250px;
    height: 250px;
    bottom: 50%;
    left: 0;
    transform: translateY(50%);
    z-index: 1; */
    /* border-radius: 10px;
    box-shadow: 2px 2px 4px 0px rgb(43, 43, 43);
    overflow: hidden;
     */


    padding: 2rem;
    
}



.text{
    /* position: relative;
    top: 0;
    left: 125px; */
    /* 
    
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    gap: 2rem;
    width: calc(100% - 125px);
    
    padding:2rem 3rem 0 20%;
    
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgb(31, 31, 31); */

    padding:.5rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
   
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding:0 2rem;
    text-align: left;
}

.mini-title{
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 400;
    color: white;

}


.services{
    width: 100%;
    min-height: 40vh;
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(340px, 1fr));
    place-content: center;
    gap:2rem;

    
}


.service{
    background:#484747;
    padding:5rem 2rem;
    position: relative;
    margin-top:3rem;

    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgb(31, 31, 31);
}

.service-icon{
    width: 70px;
    height: 70px;
    position: absolute;
    top: -35px;
    transform: translateY(-50%);
    transform: translateX(-50%);
    left: calc(50% - 35px);
    background: rgb(132, 132, 132);
    transform: rotate(45deg);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgb(31, 31, 31,.7);
    color: #ffffff;

}

.service-icon p{
    transform: rotate(-45deg);
}

@media screen and (min-width:587px) {
    body {
        padding: 0 5rem;
    }
}

@media screen and (min-width:768px) {
    body{
        padding: 0 5rem;
    }
    .menu-nav{
        display: none;
    }
    .exit {
        display: none;
    }
    .nav-bar {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 60px;
        background: rgb(73, 73, 73);
        z-index: 2;

        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0 2rem;
    }
      
        .logo-desctop {
            display: initial;
        }

        .logo{
            display: none;
        }
    .nav-inner {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 5rem;
        max-width: 1170px;
        margin: 0 auto;
        position: initial;

        }
        .lists {
            margin: 0;
            flex-direction: row;
        }
     
    header {
        
        height: calc(100vh - 60px);
        
    }
    .title {
        width: calc(50% - 1rem);
    }
    .banner-img {
        display: flex;
    }
    .advaice {
            width: 100%;
        height: 60vh;  
        max-height: 500px;
    
        margin-bottom:5rem ;
            display: flex;
        position: relative;
        margin-top: 5rem;
        margin-bottom: 5rem;
        background: none;
        border-radius: 0;
        box-shadow: none;
    }
    .image-container {
        position: absolute;
        width: 250px;
        height: 250px;
        bottom: 50%;
        left: 0;
        transform: translateY(50%);
        z-index: 1;
        border-radius: 10px;
        box-shadow: 2px 2px 4px 0px rgb(43, 43, 43);
        overflow: hidden;
        padding: 0;
        
    }
    .text {
        
        position: relative;
        top: 0;
        left: 125px;
        
        
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        gap: 2rem;
        width: calc(100% - 125px);
        
        padding:2rem 3rem 0 20%;
        
        border-radius: 10px;
        box-shadow: 3px 3px 5px 0px rgb(31, 31, 31);
        background: rgb(73, 73, 73);
        margin: 0;
    }

        @keyframes title {
        0%{
            bottom: -400px;
            opacity: 0;
    
        }
       50%{
        bottom: 50px;
        opacity: .25;
       }
    
       100%{
        bottom: 0;
        opacity: 1;
       }
    }

        @keyframes picture {
            0% {
                top: -400px;
                opacity: 0;
    
            }
    
            50% {
                top: 50px;
                opacity: .25;
            }
    
            100% {
                top: 0;
                opacity: 1;
            }
        }
}